In [ ]:
2+2

:

In [ ]:
2+2

:

In [1]:
2+2

4

In [2]:
name = input('enter your name :')
age = input('enter your age :')
school = input("enter your school name :")

In [4]:
age = input("enter your age :")
age = int(age)
type(age)

int

In [13]:
x = '100'
y = '-90'
x + y

'100-90'

In [14]:
x + y

'100-90'

In [15]:
x = int(x)
y = int(y)
x + y

10

In [16]:
z=1.3223
z1=int(z)
z
type(z)

float

In [17]:
a=input(' your name >>>')
type(a)

str

In [18]:
b = ("age of tiger")
type(b)

str

In [4]:
name = input("enter your name :")
city = input("enter you city :")
fav_food = input("enter you favourite food :") 
fav_movie = input("enter you favourite movie :")
fav_book = input("enter you favourite book :")

print(f'Your name: {name}')
print(f'Your city: {city}')
print(f'Your favourite food : {fav_food}')
print(f'Your favourite movie : {fav_movie}')
print(f'Your favourite book : {fav_book}')

Your name: tanmay
Your name: lucknow
Your favourite food : momo
Your favourite movie : rrr
Your favourite book : harry potter

In [6]:
num1 = int(input("enter a number :"))
num2 = int(input("enter another number :"))
num3 = num1 + num2
print(f'{num1} + {num2} = {num3}')

456 + 852 = 1308

In [7]:
num1 = int(input("enter a number :"))
num2 = int(input("enter another number :"))
num3 = int(input("enter another number :"))
num4 = int(input("enter another number :"))
num5 = int(input("enter another number :"))

num6 = num1 + num2 + num3 + num4 + num5 
print(f'{num1} + {num2} + {num3} + {num4} + {num5} = {num6}')

741 + 852 + 963 + 789 + 456 = 3801

In [9]:
p = float(input("enter a number :"))
b = float(input("enter another number :"))
h = (p**2 + b**2) ** 0.5
print(f'hypotenues :{h}')

hypotenues :6.4031242374328485

In [11]:
p= float(input("enter a number :"))
r= float(input("enter another number :"))
t= int(input("enter another number :"))
SI = (p * r * t)/100
print(f'simple interest : {SI}')

simple interest : 1.2

In [12]:
print('you see a apple seller')
q = input('do you like apple')

if q == 'yes' :
    print('purchase 2 kg apple')
if q == 'no' :
    print('you dont purchase apple')

you see a apple seller
you dont purchase apple

In [25]:
x = -5
if x>5 :
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this power , comes great responsibility')
print('the end')

the end

In [24]:
temp = float(input('what is the temperature'))
if temp > 70 :
    print('wear shorts.')
else:
    print('wear long pants')
print('get some exercise outside.')

wear shorts.
get some exercise outside.

In [27]:
score = int(input('your score - >'))
if score >= 90:
    letter = 'a'
elif score >= 80:
    letter = 'b'
elif score >= 70:
    letter = 'c'
elif score >=60:
    letter = 'd'
else:
    letter = 'f'
print(letter)

f