In [1]:
a= set()
print(type(a))

<class 'set'>

In [2]:
my_set = {1,3}
print(my_set)

{1, 3}

In [3]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [4]:
my_set.update([2,3,4]) #add multiple element
print(my_set)

{1, 2, 3, 4}

In [5]:
my_set.update([4,5] , {1,6,8}) #add list and set
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [6]:
my_set  = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [7]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [9]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [10]:
my_set.pop() #pop a random item
print(my_set)

{3, 5}

In [11]:
my_set.clear()
print(my_set)

set()

In [12]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [13]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
print(A&B)

{4, 5}

In [17]:
A.intersection(B)

{4, 5}

In [18]:
print(A-B)

{1, 2, 3}

In [19]:
B-A

{6, 7, 8}

In [20]:
A.difference(B)

{1, 2, 3}

In [21]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [22]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [23]:
electric1 = {'TV' , 'MOBILE' , 'LAPTOP' , 'GRINDER' , 'MICROWAVE' }
electric2 = {'WASHING MACHINE' , 'TV' , 'MOBILE' , 'AC' , 'TOSTER'}

In [24]:
print(electric1|electric2)

{'MICROWAVE', 'WASHING MACHINE', 'AC', 'GRINDER', 'TOSTER', 'MOBILE', 'TV', 'LAPTOP'}

In [25]:
print(electric1&electric2)

{'MOBILE', 'TV'}

In [26]:
electric1-electric2

{'GRINDER', 'LAPTOP', 'MICROWAVE'}

In [27]:
electric2-electric1

{'AC', 'TOSTER', 'WASHING MACHINE'}

In [28]:
print(electric1^electric2)

{'LAPTOP', 'TOSTER', 'WASHING MACHINE', 'AC', 'MICROWAVE', 'GRINDER'}

In [29]:
my_dict = {1: 'Apple' , 2: 'ball'} #key:value

In [30]:
my_dict = {'name' : 'john' , 'age' : '100'}

In [31]:
print(my_dict['name'])

john

In [32]:
print(my_dict.get('age'))

100

In [33]:
print(my_dict['address'])

KeyError: 'address'

In [34]:
print(my_dict.get('address'))

None

In [35]:
my_dict['age'] = 101

In [36]:
my_dict['address'] = 'downtown'

In [37]:
print(my_dict)

{'name': 'john', 'age': 101, 'address': 'downtown'}

In [38]:
squares = {1: 1 , 2: 4 , 3 :9  , 4: 16 , 5:25}

In [40]:
print(squares.pop(4))

16

In [41]:
print(squares.popitem())

(5, 25)

In [42]:
squares.clear()

In [43]:
del squares #delete from dictionary del is a keyword

In [44]:
squares = {1: 1 , 2: 4 , 3 :9  , 4: 16 , 5:25}

In [45]:
for i in squares:    #by default using for loop in squares set is returns keys only
    print(i)

1
2
3
4
5

In [46]:
for i in squares:    #by default using for loop in squares set is returns keys only
    print(squares[i])

1
4
9
16
25

In [49]:
for k,v in squares.items(): #k,v gives bot key and value
    print(k,v)

1 1
2 4
3 9
4 16
5 25

In [50]:
score = {'science' : 45 , 'maths' : 50 , 'hindi' : 49 , 'english' : 47 ,'arts' : 50 }

In [52]:
print(score.pop('maths'))

50

In [54]:
print(score.popitem())

('arts', 50)

In [55]:
for j,h in score.items():
    print(j,h)

science 45
hindi 49
english 47

In [56]:
student = {
    'amit' : {'eng' :90 , 'math' : 89 , 'sci' : 78 , 'hindi' : 65 , 'evs' : 89},
    'raj' : {'eng' :95 , 'math' : 82 , 'sci' : 89 , 'hindi' : 78 , 'evs' : 56},
    'ck' : {'eng' :99 , 'math' : 56 , 'sci' : 78 , 'hindi' : 89 , 'evs' : 85},
}

In [57]:
student['raj']

{'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}

In [59]:
student['raj']['hindi']

78

In [60]:
for name , marks in student.items():
    print(name)
    for sub, mark in marks.items():
        print(f'=> {sub} : {marks}')
    print('-'*20)

amit
=> eng : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> math : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> sci : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> hindi : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> evs : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
--------------------
raj
=> eng : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> math : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> sci : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> hindi : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> evs : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
--------------------
ck
=> eng : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> math : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> sci : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> hindi : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> evs : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
--------------------

In [64]:
for name , marks in student.items():
    print("students :" , name)
    for sub, mark in marks.items():
        print(f'=> {sub} : {marks}')
    print('-'*20)

students : amit
=> eng : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> math : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> sci : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> hindi : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
=> evs : {'eng': 90, 'math': 89, 'sci': 78, 'hindi': 65, 'evs': 89}
--------------------
students : raj
=> eng : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> math : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> sci : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> hindi : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
=> evs : {'eng': 95, 'math': 82, 'sci': 89, 'hindi': 78, 'evs': 56}
--------------------
students : ck
=> eng : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> math : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> sci : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> hindi : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
=> evs : {'eng': 99, 'math': 56, 'sci': 78, 'hindi': 89, 'evs': 85}
--------------------